{% extends 'admin/base.html' %}
{% load static %}
{% block branding %}
<div class="row">
    <div class="col">
        <img src="{% static 'images/icon_car.png' %}" width="80px" height="60px">
    </div>
    <div class="col" style="margin: 11px;">
        <h1 id="head">
            CarRental
        </h1>
    </div>
    
    
</div>

{% endblock %}
{% block nav-global %}
  <a  href="{% url 'bookings' %}">Booking</a>
{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}
